$lightgray: #9e9e9e;
$activegray: #666;
$lightpurple: #dbd7f3;
$lightblue: #78CEEC;
$blue-level1: #009AF8;
$purple: #8D7ADC;



$plum: #8e44ad;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin transition($p1, $time){
    -webkit-transition: $p1  $time;
    -moz-transition: $p1  $time ;
    -ms-transition: $p1  $time ;
    -o-transition: $p1  $time ;
    transition: $p1  $time ;
}


/* ------------------------------------- */
/* Reset styles ........................ */
/* ------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: Roboto;
    font-weight: 500;
    vertical-align: baseline;
    font-size: 14px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ------------------------------------- */
/* styles .............................. */
/* ------------------------------------- */


.topbar{
    z-index: 9999;
    .topbar-inner{
        margin-bottom: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .main-logo{
        margin-top: 5px;
    }
    .searchbar{
        border: solid 1px $lightpurple;
        @include border-radius(5px);


        .search-icon{
            padding-top: 5px;
            opacity: 0.2;
        }

        .dropdown-btn {
            padding-top: 7px;
            padding-bottom: 7px;
            border: none;
            background-color: transparent;
            opacity: 0.3;
            @include transition(all,0.8s);
            &:hover{
                opacity: 1;
            }
        }


        .row{
            margin-bottom:0;
        }

        input[type="text"]{
            margin-bottom: 0!important;
            border-bottom: none;
            &:focus{
                border-bottom: none!important;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        } 
    }

    .dropdown-filtros-btn{
        line-height: 42px;
        opacity: 0.8;
        background-color: transparent;
        border: none;
        text-align: right;
        @include transition(all,0.6s);
        .icon-filtros{
            width: 30px;
            float: right;
            margin-top: 5px;
            margin-left: 10px;
        }
        &:hover{
            opacity: 1;
        }
    }

}


nav{
    background-color: #f6fafd;
    .indicator{
       background-color: $purple;
    }
    .tab{
        .input-field{
            color: $lightgray;
            .fa-mobile{
                font-size: 38px;
                float: left;
                margin-right: 15px;
            }
            select{
                float: left;
            }
            .select-wrapper {
                    float: left;
                    line-height: 38px;
                    margin-top: 10px;
                    input{
                        border-bottom: none!important;
                    }
                    span.caret{
                        margin: 2px 0;
                        font-size: 10px;
                        line-height: 38px;
                    }
                }
        }
        a{
            color: $lightgray !important;
            &:hover{
                color: $purple!important;
                border-bottom:solid 2px $purple;
                background-color: transparent!important;
            }
            &.active{
                color:$purple!important;
            }
            .fa{
                margin-right: 15px;
                float: left;
            }
            .fa-mobile{
                font-size: 38px;
            }

            span{

            }
        }
    }
}

.dropdown-content{
    top: 54px!important;
    background-color: #78CEEC;
    li{
        input[type="checkbox"]{
            border: solid 1px $lightgray;
        }
        span{
            color:#FFF;
        }
    }
}




/* ---------- CALENDAR ---------- */

.modal .container{
    width: 100%;
}

.calendar {
    text-align: center;
}

.calendar header {
    position: relative;
}

.calendar h2 {
    text-transform: uppercase;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    border: 2px solid #00addf;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #00addf;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #00addf;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}